@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Inter:500&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Rubic:400,500&display=swap&subset=cyrillic-ext");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: "Rubic", sans-serif;
  color: #000000;
  line-height: 1;
  background: #ffffff;
}

.wrapper {
  height: 100vh;
  overflow: hidden;
  font-weight: 500;
}

main {
  min-height: 100%;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -4px;
}

.left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10.857%;
          flex: 0 1 10.857%;
  padding: 0px 4px;
}
.content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.content-left__top {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 42px 0px 10.25px 0px;
  background-color: #f5f5fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 88px;
}
.content-left__header {
  padding: 0px 40px 0px 40px;
}
.content-left__header:not(:last-child) {
  margin-bottom: 70px;
}
.content-left__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-left__logo {
  max-width: 100%;
  max-height: 100px;
}
.content-left__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.content-left__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 8px 0px 8px;
}
.content-left__profile {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 128px;
          flex: 0 0 128px;
  min-width: 128px;
  height: 128px;
  border: 24px solid #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-left__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.menu {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding-left: 44.545%;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}
.menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__item::after {
  background-color: #d53831;
  content: "";
  width: 4px;
  height: 28px;
  border-radius: 24px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu__item:active::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.menu__link:hover {
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
.menu__link:hover svg path {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  fill: #d53831;
}
.center {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 4px;
}

.content-center {
  min-height: 100%;
  background-color: #f5f5fc;
  border-radius: 88px;
}
.content-center__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content-center__item {
  padding: 22px 0px 22px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content-center__item_menu {
  padding: 22px 7% 22px 60px;
}
.content-center__item_gpt {
  padding: 22px 0px 22px 7%;
  border-radius: 0px 0px 0px 64px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #ffffff;
}

.item-content-center {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.center-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 15px 24px 15px 24px;
  border-radius: 64px;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  -webkit-box-shadow: 0 4px 100px 0 rgba(218, 220, 245, 0.3);
          box-shadow: 0 4px 100px 0 rgba(218, 220, 245, 0.3);
  background-color: #fff;
  text-align: center;
}
.center-button:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #a6a6e4;
}
.center-button_menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6.5px;
     -moz-column-gap: 6.5px;
          column-gap: 6.5px;
}
.center-button_gpt {
  background-color: #f5f5fc;
}

.right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23.428%;
          flex: 0 1 23.428%;
  padding: 0px 4px;
  background-color: #fff;
}

.content-right {
  min-height: 100%;
  border-radius: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.content-right__top {
  border-radius: 88px;
  padding: 8px 8px 8px 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #f5f5fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content-right__bottom {
  border-radius: 88px;
  padding: 8px 8px 8px 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 29.882vh;
          flex: 0 1 29.882vh;
  background-color: #f5f5fc;
}

.top-content-right {
  background-color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-radius: 88px;
}
.bottom-content-right {
  border-radius: 88px;
  background-color: #ffffff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.bottom-content-right__status {
  padding: 38px 15.4% 38px 15.4%;
}
.bottom-content-right__text {
  font-weight: 500;
  font-size: 24px;
  color: #8a8aaa;
}
.bottom-content-right__text:not(:last-child) {
  margin-bottom: 20px;
}
.bottom-content-right__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.bottom-content-right__number {
  font-weight: 500;
  font-size: 48px;
  color: #000000;
}
.bottom-content-right__label {
  color: #8a8aab;
}