@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,600&display=swap&subset=cyrillic-ext");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  line-height: 1;
  background: #ffffff;
}

.app {
  height: 100vh;
  overflow: hidden;
  padding: 8px;
}
.app__items {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -4px;
}
.app__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10.857%;
          flex: 0 1 10.857%;
  padding: 0px 4px;
}
.app__center {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 4px;
}
.app__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23.428%;
          flex: 0 1 23.428%;
  padding: 0px 4px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.sidebar__top {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 42px 0px 10.25px 0px;
  background-color: #f5f5fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 88px;
}
.sidebar__header {
  padding: 0px 40px 0px 40px;
}
.sidebar__header:not(:last-child) {
  margin-bottom: 70px;
}
.sidebar__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar__logo {
  max-width: 100%;
  max-height: 100px;
}
.sidebar__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.sidebar__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 8px 0px 8px;
}
.sidebar__profile {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 128px;
          flex: 0 0 128px;
  min-width: 128px;
  height: 128px;
  border: 24px solid #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 35px;
}
.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu__link {
  color: #000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.menu__link:hover {
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.25));
}
.menu__link:hover .menu__icon path {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  fill: #d53831;
}
.menu__link:hover .menu__icon_check path:last-child {
  fill: #f5f5fc;
}
.menu__link:hover .menu__text {
  color: #d53831;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.menu__link:active .menu__text::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.menu__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  position: relative;
  height: 24px;
  min-width: 24px;
}
.menu__text {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2px;
}
.menu__text::after {
  background-color: #d53831;
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 24px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home {
  height: 100%;
  background-color: #f5f5fc;
  border-radius: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home__item {
  padding: 22px 0px 22px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home__item_menu {
  padding: 22px 7% 22px 60px;
}
.home__item_gpt {
  padding: 22px 0px 22px 7%;
  border-radius: 0px 0px 0px 64px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #ffffff;
}

.home {
  height: 100%;
  background-color: #f5f5fc;
  border-radius: 88px;
}
.home__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10.458%;
          flex: 0 1 10.458%;
}
.home__item {
  padding: 22px 0px 22px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home__item_menu {
  padding: 22px 7% 22px 60px;
}
.home__item_gpt {
  padding: 22px 0px 22px 7%;
  border-radius: 0px 0px 0px 64px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #ffffff;
}
.home__button {
  all: unset;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 15px 24px 15px 24px;
  border-radius: 64px;
  font-weight: 600;
  font-size: 18px;
  color: #000;
  background-color: #fff;
  text-align: center;
}
.home__button:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #b1d1f7;
  color: #ffffff;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.363);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.363);
}
.home__button_menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6.5px;
     -moz-column-gap: 6.5px;
          column-gap: 6.5px;
}
.home__button_menu::before {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  min-width: 24px;
  height: 24px;
  content: "";
  background: url("../assets/direct-left.svg") 0 0 no-repeat;
}
.home__button_menu:hover::before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: url("../assets/direct-left2.svg") 0 0 no-repeat;
}
.home__button_gpt {
  background-color: #f5f5fc;
}
.home__body {
  padding: 0px 22px 22px 22px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 89.542%;
          flex: 1 1 89.542%;
}

.aside {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-radius: 88px;
  margin: -4px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.aside__top {
  padding: 4px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70.109%;
          flex: 1 1 70.109%;
}
.aside__bottom {
  padding: 4px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 29.891%;
          flex: 0 1 29.891%;
}

.top-aside {
  height: 100%;
  background-color: #f5f5fc;
  border: 8px solid #f5f5fc;
  border-radius: 88px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.top-aside__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5f5fc;
}
.top-aside__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-radius: 60px 0px 0px 0px;
  padding: 24px 24px 0px 24px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.top-aside__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.top-aside__buttons:not(:last-child) {
  margin-bottom: 21px;
}
.top-aside__button {
  all: unset;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: #000;
  border-radius: 123px;
  border: 1px solid #aab0e1;
  text-align: center;
}
.top-aside__button:hover {
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #b1d1f7;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);
}
.top-aside__button_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6.5px;
     -moz-column-gap: 6.5px;
          column-gap: 6.5px;
}
.top-aside__button_left:hover {
  color: #ffffff;
}
.top-aside__button_left::before {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  min-width: 24px;
  height: 24px;
  content: "";
  background: url("../assets/direct-left.svg") 0 0 no-repeat;
}
.top-aside__button_left:hover::before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: url("../assets/direct-left2.svg") 0 0 no-repeat;
}
.top-aside__button_middle {
  border: 1px solid transparent;
  background-color: #11101a;
  color: #ffffff;
}
.top-aside__button_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6.5px;
     -moz-column-gap: 6.5px;
          column-gap: 6.5px;
}
.top-aside__button_right:hover {
  color: #ffffff;
}
.top-aside__button_right::after {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  min-width: 24px;
  height: 24px;
  content: "";
  background: url("../assets/direct-right.svg") 0 0 no-repeat;
}
.top-aside__button_right:hover::after {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: url("../assets/direct-right2.svg") 0 0 no-repeat;
}
.top-aside__items {
  overflow: auto;
  height: 49vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 21px;
  padding: 0px 0px 21px 0px;
}
.data {
  font-weight: 500;
  font-size: 24px;
  color: #000000;
}
.data__number {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  background-color: #f5f5fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 36px 25px 36px;
}
.data__time {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  border-radius: 60px 88px 0px 0px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 36px 25px 36px;
}

.work {
  background: #f5f5fc;
  border-radius: 40px;
  padding: 33px 24px 33px 24px;
  line-height: 120%;
}
.work__subject {
  font-weight: 600;
}
.bottom-aside {
  height: 100%;
  border-radius: 88px;
  padding: 24px 0px 24px 48px;
  background-color: #ffffff;
  border: 8px solid #f5f5fc;
  border-radius: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottom-aside__status {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  min-width: 137px;
}
.bottom-aside__text {
  font-weight: 500;
  font-size: 24px;
  color: #8a8aaa;
}
.bottom-aside__text:not(:last-child) {
  margin-bottom: 20px;
}
.bottom-aside__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.bottom-aside__number {
  font-weight: 500;
  font-size: 48px;
  color: #000000;
}
.bottom-aside__label {
  color: #8a8aab;
  font-size: 18px;
  font-weight: 600;
}
.bottom-aside__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 53%;
          flex: 1 1 53%;
}
.bottom-aside__img {
  max-width: 75%;
}