/* 
&display=swap
&subset=cyrillic-ext 
*/

@import url("https://fonts.googleapis.com/css?family=Rubic:400,500,600&display=swap&subset=cyrillic-ext");
@import "_null";

html {
  font-size: 16px;
}

body {
  font-family: "Rubik", sans-serif;
  color: #000000;
  line-height: 1;
  background: #ffffff;
}

[class*="__container"] {
  // padding: 0px 8px;
}

.app {
  height: 100vh;
  overflow: hidden;
  font-weight: 600;
  padding: 8px;
  // .app__items

  &__items {
    height: 100%;
    display: flex;
    margin: 0px -4px;
  }

  // .app__left

  &__left {
    flex: 0 1 10.857%;
    padding: 0px 4px;
  }

  // .app__center

  &__center {
    flex: 1 1 auto;
    padding: 0px 4px;
  }

  // .app__right

  &__right {
    flex: 0 1 23.428%;
    padding: 0px 4px;
    background-color: #fff;
    display: flex;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  // .sidebar__top

  &__top {
    flex: 1 1 auto;
    padding: 42px 0px 10.25px 0px;
    background-color: #f5f5fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 88px;
  }

  &__header {
    padding: 0px 40px 0px 40px;
    &:not(:last-child) {
      margin-bottom: 70px;
    }
  }

  // .sidebar__image

  &__image {
    flex: 0 0 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .sidebar__logo

  &__logo {
    max-width: 100%;
    max-height: 100px;
  }

  // .sidebar__menu

  &__menu {
    flex: 1 1 auto;
  }

  // .sidebar__footer

  &__footer {
    display: flex;
    padding: 0px 8px 0px 8px;
  }

  // .sidebar__profile

  &__profile {
    flex: 0 0 128px;
    min-width: 128px;
    height: 128px;
    border: 24px solid #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .sidebar__img

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.menu {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  // .menu__item

  &__item {
    display: flex;
    justify-content: center;
  }

  // .menu__link

  &__link {
  }
}
.link {
  color: #000;
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  &:hover &__text {
    color: #d53831;
    transition: all 0.5 ease;
    position: relative;
    width: auto;
    transform: scale(1);
  }
  &:hover {
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }
  &:hover svg path {
    transition: all 0.5s;
    fill: #d53831;
  }

  &_home {
  }

  // .link__icon

  &__icon {
    flex: 0 0 24px;
    position: relative;
    height: 24px;
    min-width: 24px;
  }

  // .link__text

  &__text {
    position: absolute;
    width: 10.461vw;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
  }
}

.menu {
  // .menu__item

  &__item {
  }

  // .menu__link

  &__link {
  }
}

.home {
  height: 100%;
  background-color: #f5f5fc;
  border-radius: 88px;
  display: flex;
  flex-direction: column;

  // .home__items

  &__items {
    display: flex;
  }

  // .home__item

  &__item {
    padding: 22px 0px 22px 60px;
    display: flex;
    &_menu {
      padding: 22px 7% 22px 60px;
    }
    &_gpt {
      padding: 22px 0px 22px 7%;

      border-radius: 0px 0px 0px 64px;
      flex: 1 1 auto;
      background-color: #ffffff;
    }
  }
}

.home {
  height: 100%;
  background-color: #f5f5fc;
  border-radius: 88px;
  // .home__row

  &__row {
    display: flex;
    flex: 0 1 10.458%;
  }

  // .home__item

  &__item {
    padding: 22px 0px 22px 60px;
    display: flex;
    // .home__item_menu

    &_menu {
      padding: 22px 7% 22px 60px;
    }

    // .home__item_gpt

    &_gpt {
      padding: 22px 0px 22px 7%;
      border-radius: 0px 0px 0px 64px;
      flex: 1 1 auto;
      background-color: #ffffff;
    }
  }

  // .home__button

  &__button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    padding: 15px 24px 15px 24px;
    border-radius: 64px;
    font-weight: 600;
    font-size: 16px;
    color: #000;
    box-shadow: 0 4px 100px 0 rgba(218, 220, 245, 0.3);
    background-color: #fff;
    text-align: center;
    &:hover {
      transition: all 0.5s ease;
      background-color: #9bc6f8;
      color: #ffffff;
    }

    // .home__button_menu

    &_menu {
      display: inline-flex;
      align-items: center;
      column-gap: 6.5px;
      &::before {
        flex: 0 0 24px;
        min-width: 24px;
        height: 24px;
        content: "";
        background: url("../assets/arrow.svg") 0 0 no-repeat;
      }
      &:hover::before {
        transition: all 0.5s ease;
        background: url("../assets/arrow2.svg") 0 0 no-repeat;
      }
    }

    // .home__button_gpt

    &_gpt {
      background-color: #f5f5fc;
    }
  }

  // .home__icon

  &__icon {
  }

  // .home__body

  &__body {
    padding: 0px 22px 22px 22px;
    flex: 1 1 89.542%;
  }
}

.aside {
  flex: 1 1 auto;
  border-radius: 88px;
  margin: -4px 0px;
  display: flex;
  flex-direction: column;
  // .aside__top

  &__top {
    padding: 4px 0px;
    flex: 1 1 70.109%;
  }

  // .aside__bottom

  &__bottom {
    padding: 4px 0px;
    flex: 0 1 29.891%;
  }
}
.top-aside {
  height: 100%;
  background-color: #f5f5fc;
  border: 8px solid #f5f5fc;
  border-radius: 88px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  // .top-aside__data

  &__data {
    display: flex;
    background-color: #f5f5fc;
  }

  // .top-aside__body

  &__body {
    flex: 1 1 auto;
    border-radius: 60px 0px 0px 0px;
    padding: 24px 24px 0px 24px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }

  // .top-aside__buttons

  &__buttons {
    display: flex;
    column-gap: 8px;
    &:not(:last-child) {
      margin-bottom: 21px;
    }
  }

  // .top-aside__button

  &__button {
    all: unset;
    cursor: pointer;
    flex: 1 1 auto;
    min-height: 40px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    color: #000;
    border: 1px solid #aab0e1;
    border-radius: 123px;
    text-align: center;
    &:hover {
      transition: all 0.5s ease;
      background-color: #9bc6f8;
      border: 1px solid #9bc6f8;
    }
    // .top-aside__button_right

    &_right {
    }

    // .top-aside__button_middle

    &_middle {
      background-color: #11101a;
      color: #ffffff;
    }

    // .top-aside__button_left

    &_left {
    }
  }

  // .top-aside__items

  &__items {
    overflow: auto;
    height: 49vh;
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    padding: 0px 0px 21px 0px;
  }

  // .top-aside__item

  &__item {
  }
}
.data {
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  // .data__item

  &__number {
    flex: 1 1 40%;
    background-color: #f5f5fc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 36px 25px 36px;
  }

  // .data__text

  &__text {
  }

  // .data__time

  &__time {
    flex: 1 1 60%;
    border-radius: 60px 88px 0px 0px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 36px 25px 36px;
  }
}
.work {
  font-weight: 500;
  background: #f5f5fc;
  border-radius: 40px;
  padding: 33px 24px 33px 24px;
  line-height: 120%;
  // .work__subject

  &__subject {
    font-weight: 600;
  }

  // .work__name

  &__name {
  }
}
.bottom-aside {
  height: 100%;
  border-radius: 88px;
  padding: 8px 8px 8px 8px;
  background-color: #ffffff;
  border: 8px solid #f5f5fc;
  border-radius: 88px;
  display: flex;
  align-items: flex-end;
  // .bottom-aside__status

  &__status {
    padding: 38px 15.4% 38px 15.4%;
  }

  // .bottom-aside__text

  &__text {
    font-weight: 500;
    font-size: 24px;
    color: #8a8aaa;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  // .bottom-aside__body

  &__body {
    display: flex;
    align-items: flex-start;
  }

  // .bottom-aside__number

  &__number {
    font-weight: 500;
    font-size: 48px;
    color: #000000;
  }

  // .bottom-aside__label

  &__label {
    color: #8a8aab;
  }
}
