/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Inter:500&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Rubic:400,500,600,700&display=swap&subset=cyrillic-ext");
@import "_null";

html {
  font-size: 16px;
}

body {
  font-family: "Rubic", sans-serif;
  color: #000000;
  line-height: 1;
  background: #ffffff;
}

.wrapper {
  height: 100vh;
  overflow: hidden;
  font-weight: 500;
}

[class*="__container"] {
  // padding: 0px 8px;
}

main {
  min-height: 100%;
  padding: 8px;
  // height: 100vh;
  display: flex;
  margin: 0px -4px;
}

.left {
  flex: 0 1 10.857%;
  padding: 0px 4px;
  // .left__content

  &__content {
  }
}
.content-left {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  // .content-left__top

  &__top {
    flex: 1 1 auto;
    padding: 42px 0px 10.25px 0px;
    background-color: #f5f5fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 88px;
  }

  &__header {
    padding: 0px 40px 0px 40px;
    &:not(:last-child) {
      margin-bottom: 70px;
    }
  }

  // .content-left__image

  &__image {
    flex: 0 0 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .content-left__logo

  &__logo {
    max-width: 100%;
    max-height: 100px;
  }

  // .content-left__menu

  &__menu {
    flex: 1 1 auto;
  }

  // .content-left__footer

  &__footer {
    display: flex;
    padding: 0px 8px 0px 8px;
  }

  // .content-left__profile

  &__profile {
    flex: 0 0 128px;
    min-width: 128px;
    height: 128px;
    border: 24px solid #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .content-left__img

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.menu {
  align-self: stretch;
  padding-left: 44.545%;
  // .menu__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  // .menu__item

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    &::after {
      background-color: #d53831;
      content: "";
      width: 4px;
      height: 28px;
      border-radius: 24px;
      transform: scale(0);
      transition: all 0.5s ease;
    }
    &:active {
      &::after {
        transform: scale(1);
      }
    }
  }

  // .menu__link

  &__link {
    &:hover {
      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    }
    &:hover svg path {
      transition: all 0.5s;
      fill: #d53831;
    }
    // .menu__link_home

    &_home {
    }

    // .menu__link_magic-star

    &_magic-star {
    }

    // .menu__link_location

    &_location {
    }

    // .menu__link_briefcase

    &_briefcase {
    }
  }
}

.center {
  flex: 1 1 auto;
  padding: 0px 4px;
}

.content-center {
  min-height: 100%;
  background-color: #f5f5fc;
  border-radius: 88px;

  // .content-center__items

  &__items {
    display: flex;
  }

  // .content-center__item

  &__item {
    padding: 22px 0px 22px 60px;
    display: flex;
    &_menu {
      padding: 22px 7% 22px 60px;
    }
    &_gpt {
      padding: 22px 0px 22px 7%;

      border-radius: 0px 0px 0px 64px;
      flex: 1 1 auto;
      background-color: #ffffff;
    }
  }
}

.item-content-center {
  flex: 1 1 auto;
}
.center-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  padding: 15px 24px 15px 24px;
  border-radius: 64px;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  box-shadow: 0 4px 100px 0 rgba(218, 220, 245, 0.3);
  background-color: #fff;
  text-align: center;

  &:hover {
    transition: all 0.5s ease;
    background-color: #a6a6e4;
  }
  // .center-button_menu

  &_menu {
    display: inline-flex;
    align-items: center;
    column-gap: 6.5px;
  }

  // .center-button_gpt

  &_gpt {
    background-color: #f5f5fc;
  }
}

.right {
  flex: 0 1 23.428%;
  padding: 0px 4px;
  background-color: #fff;
}
.content-right {
  min-height: 100%;
  border-radius: 88px;
  // margin: -4px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  // .content-right__top

  &__top {
    border-radius: 88px;
    padding: 8px 8px 8px 8px;
    flex: 1 1 auto;
    background-color: #f5f5fc;
    display: flex;
    flex-direction: column;
  }

  // .content-right__bottom

  &__bottom {
    border-radius: 88px;
    padding: 8px 8px 8px 8px;
    flex: 0 1 29.882vh;
    background-color: #f5f5fc;
  }
}

.top-content-right {
  flex: 1 1 auto;
  border-radius: 88px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  // .top-content-right__data

  &__data {
    display: flex;
    background-color: #f5f5fc;
  }

  // .top-content-right__body

  &__body {
    border-radius: 60px 0px 0px 0px;
    padding: 24px 24px 24px 24px;
    background-color: #ffffff;
    flex: 1 1 auto;
  }

  // .top-content-right__buttons

  &__buttons {
    display: flex;
    column-gap: 8px;
    &:not(:last-child) {
      margin-bottom: 21px;
    }
  }

  // .top-content-right__button

  &__button {
    all: unset;
    cursor: pointer;
    flex: 1 1 auto;
    min-height: 40px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    color: #000;
    border: 1px solid #aab0e1;
    border-radius: 123px;
    text-align: center;
    &:hover {
      transition: all 0.5s ease;
      background-color: #a6a6e4;
    }
    // .top-content-right__button_right

    &_right {
    }

    // .top-content-right__button_middle

    &_middle {
      background-color: #11101a;
      color: #ffffff;
    }

    // .top-content-right__button_left

    &_left {
    }
  }

  // .top-content-right__items

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
  }

  // .top-content-right__item

  &__item {
  }
}

.data {
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  // .data__item

  &__item {
    flex: 1 1 40%;
    background-color: #f5f5fc;
    border-radius: 0px 0px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 36px 25px 36px;
  }

  // .data__text

  &__text {
  }

  // .data__time

  &__time {
    flex: 1 1 60%;
    border-radius: 50px 0px 0px 0px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 36px 25px 36px;
  }
}

.work {
  background: #f5f5fc;
  border-radius: 123px;
  padding: 33px 24px 33px 24px;
  line-height: 120%;
  // .work__subject

  &__subject {
  }

  // .work__name

  &__name {
  }
}

.bottom-content-right {
  border-radius: 88px;
  background-color: #ffffff;
  height: 100%;
  display: flex;
  align-items: flex-end;

  // .bottom-content-right__status

  &__status {
    padding: 38px 15.4% 38px 15.4%;
  }

  // .bottom-content-right__text

  &__text {
    font-weight: 500;
    font-size: 24px;
    color: #8a8aaa;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  // .bottom-content-right__body

  &__body {
    display: flex;
    align-items: flex-start;
  }

  // .bottom-content-right__number

  &__number {
    font-weight: 500;
    font-size: 48px;
    color: #000000;
  }

  // .bottom-content-right__label

  &__label {
    color: #8a8aab;
  }
}
